/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* My adding: heading line height */

h1,
h2,
h3 {
  line-height: 1;
}

:root {
  /* Font size */
  --base-size: 1rem;
  --scale: 1.25;
  --h1: calc(var(--h2) * var(--scale));
  --h2: calc(var(--h3) * var(--scale));
  --h3: calc(var(--h4) * var(--scale));
  --h4: calc(var(--h5) * var(--scale));
  --h5: calc(var(--base-size) * var(--scale));
  --h6: calc(var(--base-size) / var(--scale));

  /* Color: https://www.materialpalette.com/indigo/indigo */
  --color-primary: #3f51b5;
  --color-accent: #536dfe;
  --color-primary-light: #c5cae9;
  --color-primary-text: #212121;
  --color-secondary-text: #757575;
  --color-divider: #e4e4e4;
  --color-icons-white: #ffffff;

  /* Border Radius: 8pt, 16pt, and 32pt */
  --border-radius-small: 8pt;
  --border-radius-medium: 16pt;
  --border-radius-large: 32pt;

  /* Drop shadow: https://box-shadow.dev/ */
  --drop-shadow-small: 0px 2px 4px 1px rgba(0, 0, 0, 0.1);
  --drop-shadow-medium: 0px 8px 10px 2px rgba(0, 0, 0, 0.1);
  --drop-shadow-large: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);

  /* Font family */
  --san-serif: sans-serif;
}

body {
  font-family: var(--san-serif);
  background-color: #f3f4f6;
  color: var(--color-secondary-text);
}

.booking-card {
  width: 375px;
  background-color: var(--color-icons-white);
  border-radius: var(--border-radius-medium);
  box-shadow: var(--drop-shadow-large);
  overflow: hidden;
}

/* Todo: Rename */
.booking-card img {
  height: 375px;
}

/* ----- GALLERY */

.booking-card--gallery {
  position: relative;
}

.gallery--btn {
  font-size: var(--h3);
  color: var(--color-icons-white);
  position: absolute;
  top: 1rem;
  left: 1rem;
  cursor: pointer;
}

.gallery--btn:hover {
  color: var(--color-icons-white);
  background-color: var(--color-accent);
  border-radius: 50%;
}

.gallery--btn:active {
  background-color: var(--color-primary);
}

.gallery--page-number {
  font-size: var(--h6);
  font-weight: 600;
  color: var(--color-icons-white);
  padding: 4px 8px;
  border-radius: var(--border-radius-large);
  background-color: var(--color-secondary-text);
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  cursor: pointer;
}

.gallery--page-number:hover {
  background-color: var(--color-accent);
}

.gallery--page-number:active {
  background-color: var(--color-primary);
}

/* CARD CONTENT */

.booking-card--content {
  margin: var(--h4);
}

.booking-info::after {
  display: block;
  content: "";
  width: 100%;
  border-top: 1px solid var(--color-divider);
  margin: var(--h4) 0;
}

.booking-title {
  color: var(--color-primary-text);
  font-size: var(--h3);
}

.booking-address {
  margin-top: var(--h6);
}

.rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 0.5em;
  color: var(--color-primary-text);
  margin-top: 0.5rem;
}

.rating--stars {
  display: flex;
  flex-direction: row;
  column-gap: 2px;
}

.rating--score {
  font-weight: 600;
}

.visually-hidden {
  display: none;
}

a:link,
a:visited {
  color: var(--color-primary);
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}
a:active {
  color: var(--color-primary-text);
}

.services {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.services-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.5rem;
}

.services-item i {
  font-size: var(--h3);
}

.services-item p {
  font-size: var(--base-size);
}

.card-description::before {
  display: block;
  content: "";
  width: 100%;
  border-top: 1px solid var(--color-divider);
  margin-top: var(--h4);
  margin-bottom: var(--h5);
}

.pricing-and-booking::before {
  display: block;
  content: "";
  width: 100%;
  border-top: 1px solid var(--color-divider);
  box-shadow: 0px -2px 2px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: var(--h4);
}

.pricing-and-booking {
  margin: -1rem 0 var(--h4);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.button {
  width: 120px;
  font-size: var(--base-size);
  font-weight: 600;
  padding: 0.75rem 1rem;
  white-space: nowrap;
  border: none;
  border-radius: var(--border-radius-small);
  cursor: pointer;
}

.right-card--btn {
  color: var(--color-icons-white);
  background-color: var(--color-primary);
}

.right-card--btn:hover {
  background-color: var(--color-accent);
}

.right-card--btn:active {
  background-color: var(--color-primary);
}

.booking-price {
  font-size: var(--h4);
  font-weight: 600;
  color: var(--color-primary-text);
}

/* CHECKING ICONS */

.bx-check,
.bx-x {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--color-icons-white);
  border: 1px solid var(--color-divider);
  box-shadow: var(--drop-shadow-small);
}

.bx-check::before,
.bx-x::before {
  position: absolute;
  font-size: var(--h1);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bx-check::before {
  color: green;
  background-color: rgba(0, 128, 0, 0.1);
}

.bx-x::before {
  color: rgb(180, 0, 0);
  background-color: rgba(255, 0, 0, 0.1);
}

/* LEFT CARD UI */
.left-card--page-number {
  color: var(--color-icons-white);
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 1rem;
}
.left-card--info {
  text-align: center;
}

.left-card--title {
  color: var(--color-primary);
}

.left-car-address {
  color: rgba(117, 117, 117, 0.75);
}

.left-card--rating {
  color: var(--color-primary);
  justify-content: center;
}

.left-card--services {
  color: var(--color-primary);
}

.left-card--description {
  color: rgba(117, 117, 117, 0.75);
  text-align: center;
}

.left-card--btn {
  color: var(--color-primary);
  background-color: var(--color-divider);
}

.left-card--btn:hover {
  color: var(--color-icons-white);
  background-color: var(--color-accent);
}

.left-card--price {
  color: var(--color-primary);
}

/* RESPONSIVE */
/* Mobile Screen: 375px */
.card-wrapper {
  margin: 1rem 0 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
}

.bx-x {
  order: 1;
}

.card-left {
  order: 2;
}

.bx-check {
  order: 3;
}

.card-right {
  order: 4;
}

.card-left {
  position: relative;
  /* height: 866px; */
}

.left-card--pricing-and-booking {
  width: inherit;
  position: absolute;
  bottom: 0;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* Desktop - Tablet Screen: 768px*/

@media (min-width: 768px) {
  .card-wrapper {
    margin: 1rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem 6rem;
  }

  .bx-x,
  .card-left,
  .bx-check,
  .card-right {
    order: unset;
  }

  .bx-x {
    justify-self: end;
    margin-right: 10rem;
  }

  .bx-check {
    margin-left: 10rem;
  }

  .card-left {
    align-self: stretch;
    justify-self: end;
  }
}
